@use "sass:list";

.main {
    position: relative;
    width: 100vw;
    aspect-ratio: 100 / 6;

    .content {
        position: absolute;
        left: 50%;
        top: 5%;
        font-size: 50px;
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        font-weight: normal;
        transform: translateX(-50%);
        filter: drop-shadow(rgb(0, 125, 202) 0px 0px 6px);
    }

    .bg {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .dot,
    .rightDot {
        width: 1%;
        height: auto;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        animation: flash 3s linear infinite .6s;
        filter: drop-shadow(rgb(1, 127, 255) 0px 0px 4px);
    }

    .rightDot {
        left: unset;
        right: 0;
    }

    .dot1,
    .rightDot1 {
        width: .7%;
        height: auto;
        position: absolute;
        left: 2%;
        top: 50%;
        transform: translateY(-50%);
        animation: flash 3s linear infinite .3s;
        filter: drop-shadow(rgb(1, 127, 255) 0px 0px 4px);
    }

    .rightDot1 {
        left: unset;
        right: 2%;
    }

    .flashGroup,
    .flashGroup1 {
        position: absolute;
        width: 4.2%;
        right: 20%;
        top: 70%;
        display: flex;

        img {
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(-1.2) scaleY(0.8) translate3d(0px, 0px, 0px);
            width: 16.66%;
            $delays: 1.5s, 1.2s, .9s, .6s, .3s, 0;

            @each $d in $delays {
                $index: list.index($delays, $d);

                &:nth-child(#{$index}) {
                    animation: flash 3s linear infinite $d;
                }
            }
        }


    }

    .flashGroup1 {
        left: 19.2%;
        right: unset;

        img {
            transform: unset;
        }
    }

    .dotMove {
        position: absolute;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        top: 77%;
        display: flex;
        overflow: hidden;

        img {
            width: 4px;
            height: auto;

            $during: 5s, 3.5s, 5.5s, 4.5s, 6s;

            @each $d in $during {
                $index: list.index($during, $d);

                &:nth-child(#{$index}) {
                    animation: dotMove $d linear infinite 2s;
                }
            }
        }
    }
}


@keyframes move {
    0% {
        transform: unset;
    }

    50% {
        transform: translate3d(-50px, 0, 0)
    }

    100% {
        transform: unset;
    }
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes dotMove {
    0% {
        opacity: 1;
        transform: none;
    }

    50% {
        opacity: .5;
        transform: rotateX(0) rotateY(0) rotate(0) scaleX(1) scaleY(1) translate3d(25vw, 0, 0);
    }

    100% {
        opacity: 0;
        transform: rotateX(0) rotateY(0) rotate(0) scaleX(1) scaleY(1) translate3d(50vw, 0, 0);
    }
}