.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .container {
        width: 33.3%;
        mix-blend-mode: screen;
        object-fit: fill;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        
        video {
            width: 100%;
            aspect-ratio: 5/2;
            object-fit: fill;
            filter: hue-rotate(300deg);
        }
        &:nth-child(2) {
            filter: hue-rotate(200deg);

        }
        &:last-child {
            filter: hue-rotate(100deg);

        }
    }
}