.warning {
    display: flex;
    height: 13%;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 209, 82, 0.01) 0%, rgba(255, 209, 82, 0.2) 100%);
    border-right: 3px solid rgba(255, 209, 82, 0.5);
    padding-right: 10%;
    margin: 2% 0;
    font-family: 'digital';

    img {
        display: block;
        width: auto;
        height: 80%;
    }

    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        white-space: nowrap;
    }

    &.light {
        border-right: 3px solid rgba(0, 201, 255, 0.5);
        background: linear-gradient(90deg, rgba(0, 201, 255, 0.01) 0%, rgba(0, 201, 255, 0.2) 100%);

        img {
            height: 70%;
        }
    }

}

.pie {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warningTable {
    height: 32%;
    width: 100%;
    display: flex;
}